
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(16, 18, 19);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make sure the body takes full height */
}

/* Animation definition 
@keyframes shake {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/
#quiz-container{
    font-size: 30px;
    margin-left: 398px;
    margin-top:104px;
}
#submitBtn :hover{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    box-shadow: 0 0 20px rgba(0, 132, 255, 1), 0 0 40px rgba(0, 132, 255, 0.8);

}
#submitBtn{
    margin-left: 444px;
    margin-top: 41px;
    height: 40px;
    width: 160px;
    
    font-size: 15px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 132, 255, 0.8), 0 0 20px rgba(0, 132, 255, 0.6);
    box-shadow: 0 0 15px rgba(0, 132, 255, 0.5), 0 0 30px rgba(0, 132, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.submitBtn:active{
    box-shadow: 0 0 25px rgba(0, 132, 255, 1), 0 0 50px rgba(0, 132, 255, 1);
    transform: scale(0.98); /* Slight press effect */

}
#result{
      font-size: x-large;
      margin-left: 300px;
}